.jumbotron {
	position: relative;
	margin-bottom: 20px;
	/*Simulated black transparency by using a linear gradient with an image under it*/
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
		url("../img/pasta-orig.jpg");
	text-align: center;
	color: #eee;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	z-index: 1;
}

.jumbotron h1 {
	margin-bottom: 25px;
}

.jumbotron .sub-heading {
	margin-top: 0px;
	font-size: 21px;
	font-weight: 300;
}

.btn-primary{
	margin-top: 35px;
	margin-bottom: 10px;
	background-color: #71000C;
	border: 1px solid black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, 
.btn-primary.active, .open>.dropdown-toggle.btn-primary {
	background-color: #bd0014;
	border: 1px solid #3E0007;
}

#snow-link {
	color: white;
	text-decoration: none;
}