body {
  padding-top: 50px;
}

.container{
    padding-top: 50px;
}

.navbar-header{
    height:  175px;
}

.starter-template {
  padding: 175px 15px;
  text-align: center;
}

.search, .search_text {
  text-align: center;
}