/* Stylesheet for submit.css */

html, body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

label {

}

section {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Generic wrapper for aligning to the center */
.wrapper {
	display: inline-block;
}

.content {
	display: inline-block;
	width: 66%;
}

.upload {
	text-align: center;
}

.header {
	padding: 35px;
}

.title {
	font-size: 32px;
	text-transform: uppercase;
}

.step { 
	font-size: 18px;
	color: #71000c;
}

.name-label {
	width: 100%;
}

#name-input {
	text-align: center;
	width: 300px;
}

.dropzone {
	background: rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

#thumbnail-fine-uploader {
	display: inline-block;
}

.steptext {
	padding: 0 10px;
	vertical-align: 33%;
	font-size: 18px;
}

.goback {
	float: left;
	cursor: pointer;
}

.goforward {
	float: right;
	cursor: pointer;
}

.faded {
	opacity: 0.33;
}

a {
	color:#71000C;

}

a:hover, a:focus {
	color:#bd0014;
}


.diet-icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 0 4px 4px;
	padding: 3px 0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	color: white;
}

.diet-icon.vegetarian {
	background: #096b00;
}

.diet-icon.vegan {
	background: #2a0;
}

.diet-icon.dairy {
	background: #008a8a;
}

.diet-icon.kosher {
	background: #ab9210;
}

.diet-icon.gluten {
	background: #c46f0e;
}

#dropdown
{
	background-color: white;
}

.dropdown-menu {
	
}
.dropdown-menu > li > a {
	cursor: pointer;
}


#ingredients-label {
	width: 100%;
	padding-bottom: 20px;
}

.ingredients-input {
	text-align: center;
}

.ing-row {
	display: table-row;
}

.ing-header {
	display: table-cell;
}

.ing-cell {
	display: table-cell;
	padding: 10px 15px;
	vertical-align: middle;
}

.ing-num {
	width: 90px;
}

.ing-name {
	width: 200px;
}

.step-cell {
	width: 300px;
}

#ingAdd {
	margin-top: 20px;
}

#button-text {
	padding-left: 10px;
}

.step-icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 0 4px 4px;
	padding: 3px 0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	background: #71000c;
	font-size: 12px;
	font-weight: 600;
	color: white;
}