body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 0;
}

body:last-child {
    margin-bottom: 20px;
}

.container {
    padding: 0;
}

#user-page {
    display: block;
    font-size: 20px;
    margin-top: 50px;
}

@media (min-width: 801px) and (max-width: 1241px) {
    #user-page {
        margin-top: 100px;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    #user-page {
        margin-top: 150px;
    }
}

#user-image {
    width: 200px;
    margin: auto;
}

#user-image * {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.container h1, h2 {
    margin: 0;
    font-weight: bold;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container h2 {
    margin: 30px 0 0 0;
}

.user-section {
    color: #fff;
    background-color: #bd3947;
    width: 100%;
}

.user-section {
    margin-top: 20px;
    padding: 20px 30px;
}

.user-section ul,
.user-section p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#change {
    margin-top: 20px;
}

.btn-lg, .btn-lg:focus {
    color: #fff;
    background-color: #71000c;
    border-color: #000;
}

.btn-lg:hover, .btn-lg.active {
    background-color: #bd0014;
    border-color: #3e0007;
}

.btn-primary {
    margin-bottom: 50px;
}