.jumbotron{
	text-align: center;
	color: #eee;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;/* where XXX is the number (400, 300, 600) */
	position: relative;
	z-index: 1;

	/*Simulated black transparency by using a linear gradient with an image under it*/
	background: 
		linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
		url("../sid/pasta-orig.jpg");
}

.background-img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../sid/apple1.jpg");
}

.btn-primary{
	background-color: #71000C;
	border-color: black;
}

.btn-primary: hover, .btn-primary: focus, .btn-primary: active, 
.btn-primary.active, .open>.dropdown-toggle.btn-primary{
	background-color: #bd0014;
	border-color: #3E0007;
}

.container {
	padding-left: 0;
}

.container h2 {
	margin: 0;
}