.navbar-header{
    height: 50px;
}

#advanced-menu{
    display: block;
    width: 600px;
    margin-top: 50px;
    font-size: 20px;
    padding: 1px 40px 20px 20px;
}

.col-lg-6{
    width: 95%;
}

.btn-active {
    background: #cc0717;
}

input[type="checkbox"] {
  margin-right: 5px;
}