head, body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
}

.navbar-header {
    height: 50px;
}

#advanced-menu {
    display: block;
    width: 600px;
    margin-top: -10px;
    font-size: 20px;
    padding: 1px 40px 20px 20px;
}

#advanced-menu h1 {
    font-weight: bold;
}

.col-lg-6 {
    width: 95%;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="radio"]:checked {
    background-color: #0f0;
}

.input-group-addon, .btn-primary {
    color: #000;
}

.btn-primary {
    background-color: #eee;
    border-color: #ccc;
}

.btn-lg {
    color: #fff;
    background-color: #71000c;
    border-color: #000;
}

.btn-primary.active, .btn-primary:hover, .btn-primary:focus, .btn-lg.active, .btn-lg:hover, .btn-lg:focus {
    color: #fff;
    border-color: #3e0007;
}

.btn-primary.active, .btn-primary:hover, .btn-primary:focus {
    background-color: #bd3947;
}

.btn-lg.active, .btn-lg:hover, .btn-lg:focus {
    background-color: #bd0014;
}
