head, body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
}

.navbar-header {
    height: 50px;
}

#user-page {
    display: block;
    width: 100%;
    margin-top: -10px;
    font-size: 20px;
    padding: 1px 40px 20px 20px;
}

#user-image {
    width: 200px;
    margin-left: 39.8%;
}

#user-page h1, h2 {
    font-weight: bold;
}

#user-page h1 {
    text-align: center;
}

#user-info, #about-me {
    color: #fff;
    background-color: #bd3947;
    width: 112.5%;
}

#user-info{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

#user-info ul {
    list-style-type: none;
}

.img-responsive {
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

#about-me {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}