head, body{
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
}

.navbar-header{
    height: 50px;
}

#user-page{
    display: block;
    width: 100%;
    background-color: #f00;
    margin-top: -10px;
    font-size: 20px;
    padding: 1px 40px 20px 20px;
}

#user-page h1{
    font-weight: bold;
    text-align: center;
}

.col-lg-6{
    width: 95%;
}

.btn-active {
    background: #cc0717;
}

input[type="checkbox"] {
  margin-right: 5px;
}